.visits-list {
  position: absolute;
  z-index: 20;
  left: 12px;
  top: 90px;
  bottom: 20px;
  min-width: 300px;
  border-radius: 20px;
  background-color: rgba(20, 20, 20, 0.8);
  padding: 20px;
  color: #fff;
}

.visits-list h2 {
  text-align: center;
}

.visits-list .list {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}